<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>main.html</title>
  </head>
  <body>
    <h1>main page</h1>
    <h3>welcome, <%= id %> 번째 가입 고객입니다!!</h3>
    <p>main page description</p>

    <div>
      <a href="/logout">logout</a>
    </div>
  </body>
</html>
